<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dgut.mapper.TbSalesItemMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dgut.pojo.TbSalesItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sales_no" property="salesNo" jdbcType="BIGINT" />
    <result column="drug_id" property="drugId" jdbcType="INTEGER" />
    <result column="drug_name" property="drugName" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sale_total_price" property="saleTotalPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sales_no, drug_id, drug_name, sale_price, quantity, sale_total_price, create_time, 
    update_time,batch_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.dgut.pojo.TbSalesItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sales_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_sales_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sales_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBySalesNo" parameterType="java.lang.String" >
    delete from tb_sales_item
    where sales_no = #{selaseNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.dgut.pojo.TbSalesItemExample" >
    delete from tb_sales_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.dgut.pojo.TbSalesItem" >
    insert into tb_sales_item (id, sales_no, drug_id, 
      drug_name, sale_price, quantity, 
      sale_total_price, create_time, update_time, batch_no
      )
    values (#{id,jdbcType=INTEGER}, #{salesNo,jdbcType=BIGINT}, #{drugId,jdbcType=INTEGER}, 
      #{drugName,jdbcType=VARCHAR}, #{salePrice,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, 
      #{saleTotalPrice,jdbcType=DECIMAL}, now(), now(), #{batchNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dgut.pojo.TbSalesItem" >
    insert into tb_sales_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="salesNo != null" >
        sales_no,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="drugName != null" >
        drug_name,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="saleTotalPrice != null" >
        sale_total_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="salesNo != null" >
        #{salesNo,jdbcType=BIGINT},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="drugName != null" >
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="saleTotalPrice != null" >
        #{saleTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.dgut.pojo.TbSalesItemExample" resultType="java.lang.Integer" >
    select count(*) from tb_sales_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sales_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.salesNo != null" >
        sales_no = #{record.salesNo,jdbcType=BIGINT},
      </if>
      <if test="record.drugId != null" >
        drug_id = #{record.drugId,jdbcType=INTEGER},
      </if>
      <if test="record.drugName != null" >
        drug_name = #{record.drugName,jdbcType=VARCHAR},
      </if>
      <if test="record.salePrice != null" >
        sale_price = #{record.salePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.saleTotalPrice != null" >
        sale_total_price = #{record.saleTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = now(),
      </if>
      <if test="record.batchNo != null" >
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sales_item
    set id = #{record.id,jdbcType=INTEGER},
      sales_no = #{record.salesNo,jdbcType=BIGINT},
      drug_id = #{record.drugId,jdbcType=INTEGER},
      drug_name = #{record.drugName,jdbcType=VARCHAR},
      sale_price = #{record.salePrice,jdbcType=DECIMAL},
      quantity = #{record.quantity,jdbcType=INTEGER},
      sale_total_price = #{record.saleTotalPrice,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = now(),
      batch_no = #{record.batchNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dgut.pojo.TbSalesItem" >
    update tb_sales_item
    <set >
      <if test="salesNo != null" >
        sales_no = #{salesNo,jdbcType=BIGINT},
      </if>
      <if test="drugId != null" >
        drug_id = #{drugId,jdbcType=INTEGER},
      </if>
      <if test="drugName != null" >
        drug_name = #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="saleTotalPrice != null" >
        sale_total_price = #{saleTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dgut.pojo.TbSalesItem" >
    update tb_sales_item
    set sales_no = #{salesNo,jdbcType=BIGINT},
      drug_id = #{drugId,jdbcType=INTEGER},
      drug_name = #{drugName,jdbcType=VARCHAR},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      sale_total_price = #{saleTotalPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now(),
      batch_no = #{batchNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
   <!-- 查询最后一条记录 -->
  <select id="selectLastRecord"  resultMap="BaseResultMap">
  	select * from  tb_sales_item order by id desc limit 1
  </select>
  
  
  <select id="selectByDrugIdAndBatchNo" resultMap="BaseResultMap" parameterType="cn.edu.dgut.pojo.TbPurchaseItem" >
    select 
    <include refid="Base_Column_List" />
    from tb_sales_item
    where drug_id = #{drugId,jdbcType=INTEGER} and batch_no = #{batchNo,jdbcType=VARCHAR}
  </select>
  
     <!-- 查询所有记录 -->
  <select id="selectAllSalesItem" parameterType="java.lang.String"  resultMap="BaseResultMap">
  	select * from  tb_sales_item
  	where sales_no = #{salesNo}
  </select>  
  
  <!-- 统计记录数 -->
  <select id="countByCondition"  parameterType="java.util.Map" resultType="int">
  	select count(*) from tb_sales_item s
  	where s.sales_no = #{salesNo}
  </select>
  
  <!-- 条件查询 -->
  <select id="pageByCondition"  parameterType="java.util.Map" resultMap="BaseResultMap">
  	select  
  	<include refid="Base_Column_List"></include>
  	from tb_sales_item s
  	where s.sales_no = #{salesNo}
  	order by s.id limit #{pageIndex} ,#{pageSize}
  </select>
  
  <!-- 批量删除 -->
  <delete id="deleteBatch" parameterType="list">
		delete from tb_sales_item where id in
		<foreach collection="list" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
  </delete>
 
    <!-- 查询所有记录 -->
  <select id="selectAllSalesItem1"  resultMap="BaseResultMap">
  	select * from  tb_sales_item
  </select>    
  
</mapper>