<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dgut.mapper.TbSalesMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dgut.pojo.TbSales" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sales_no" property="salesNo" jdbcType="VARCHAR" />
    <result column="patient_id" property="patientId" jdbcType="VARCHAR" />
    <result column="drug_id" property="drugId" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sales_no, patient_id, drug_id, quantity, total_price, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.dgut.pojo.TbSalesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_sales
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sales
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.dgut.pojo.TbSalesExample" >
    delete from tb_sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.dgut.pojo.TbSales" >
    insert into tb_sales (id, sales_no, patient_id, 
      drug_id, quantity, total_price, 
      create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{salesNo,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, 
      #{drugId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, 
      now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dgut.pojo.TbSales" >
    insert into tb_sales
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="salesNo != null" >
        sales_no,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="createTime == null" >
        create_time,
      </if>
      <if test="updateTime == null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="salesNo != null" >
        #{salesNo,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime == null" >
        now(),
      </if>
      <if test="updateTime == null" >
        now(),
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.dgut.pojo.TbSalesExample" resultType="java.lang.Integer" >
    select count(*) from tb_sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sales
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.salesNo != null" >
        sales_no = #{record.salesNo,jdbcType=VARCHAR},
      </if>
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=VARCHAR},
      </if>
      <if test="record.drugId != null" >
        drug_id = #{record.drugId,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null" >
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = now(),
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sales
    set id = #{record.id,jdbcType=INTEGER},
      sales_no = #{record.salesNo,jdbcType=VARCHAR},
      patient_id = #{record.patientId,jdbcType=VARCHAR},
      drug_id = #{record.drugId,jdbcType=INTEGER},
      quantity = #{record.quantity,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = now()
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dgut.pojo.TbSales" >
    update tb_sales
    <set >
      <if test="salesNo != null" >
        sales_no = #{salesNo,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        drug_id = #{drugId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dgut.pojo.TbSales" >
    update tb_sales
    set sales_no = #{salesNo,jdbcType=VARCHAR},
      patient_id = #{patientId,jdbcType=VARCHAR},
      drug_id = #{drugId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询最后一条记录 -->
  <select id="selectLastRecord"  resultMap="BaseResultMap">
  	select * from  tb_sales order by id desc limit 1
  </select>
  
 <!-- 统计记录数 -->
  <select id="countByCondition"  parameterType="java.util.Map" resultType="int">
  	select count(distinct sales_no) from tb_sales s
  		<where>
  			<if test="patientId!=null and !&quot;&quot;.equals(patientId.trim())">
  				and s.patient_id like '%' #{patientId} '%'
  			</if>
  			<if test="salesNo !=null and !&quot;&quot;.equals(salesNo.trim())">
  				and s.sales_no like '%' #{salesNo} '%'
  			</if>
  		</where>
  </select>
  
  <!-- 条件查询 -->
  <select id="pageByCondition"  parameterType="java.util.Map" resultMap="BaseResultMap">
  	select id,sales_no,patient_id,sum(quantity) as quantity,sum(total_price) as total_price,create_time,update_time from tb_sales s
  	
  		<where>
  			<if test="patientId!=null and !&quot;&quot;.equals(patientId.trim())">
  				and s.patient_id like '%' #{patientId} '%'
  			</if>
  			<if test="salesNo !=null and !&quot;&quot;.equals(salesNo.trim())">
  				and s.sales_no like '%' #{salesNo} '%'
  			</if>
  		</where>
  		group by sales_no
  		order by s.id limit #{pageIndex} ,#{pageSize}
  </select>
  
   <!-- 根据采药单号查询 -->
   <select id="selectBySalesNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_sales
    where sales_no = #{salesNo,jdbcType=VARCHAR}
  </select>
 
   <!-- 根据ID批量删除 -->
  <delete id="deleteBatch" parameterType="list">
		delete from tb_sales where id in
		<foreach collection="list" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
  </delete>
  
  <!-- 根据销药单编号删单条记录 -->
  <delete id="deleteBySalesNo" parameterType="java.lang.String">
  	delete from tb_sales where sales_no = #{salesNo}
  </delete>

   <!-- 根据销药单编号批量删除 -->
  <delete id="deleteBySalesNoBatch" parameterType="list">
		delete from tb_sales where sales_no in
		<foreach collection="list" item="salesNo" open="(" close=")"
			separator=",">
			#{salesNo}
		</foreach>
  </delete>
  
  
  <!-- 统计记录数 -->
  <select id="countBySalesNo"  parameterType="java.util.Map" resultType="int">
  	select count(*) from tb_sales s
  	where s.sales_no = #{salesNo}
  </select>
  
  <!-- 条件查询 -->
  <select id="selectBySalesNoCondition"  parameterType="java.util.Map" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from tb_sales s
	    where s.sales_no = #{salesNo}
  		order by s.id limit #{pageIndex} ,#{pageSize}
  </select>
  
  <!-- 根据药品ID和销售单编号查找 -->
  <select id="getSalesBySalesNoAndDrugId"  parameterType="java.util.Map" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from tb_sales s
	    where s.sales_no = #{salesNo} and s.drug_id = #{drugId}
  </select>
  
     <!-- 查询所有记录 -->
  <select id="selectAllSales"  resultMap="BaseResultMap" parameterType="java.util.Map" >
  	select * from  tb_sales s
 	  	<where>
 			<if test="drugId != null">
 				and s.drug_id =  #{drugId} 
 			</if>
 			<if test="beginTime!=null and !&quot;&quot;.equals(beginTime.trim())">
 				and s.create_time <![CDATA[>=]]> #{beginTime}
 			</if>
 			<if test="endTime!=null and !&quot;&quot;.equals(endTime.trim())">
 				and s.create_time <![CDATA[<=]]> #{endTime}
 			</if>
 		</where>
  </select> 
 
   <!-- 查询所有记录 -->
  <select id="selectAllSales1"  resultMap="BaseResultMap" parameterType="java.util.Map" >
  	select * from  tb_sales s
 	  	<where>
			<if test="ids != null">
				and drug_id in 
				<foreach collection="ids" item="id" open="(" close=")"
					separator=",">
					#{id}
				</foreach>
			</if>
 			<if test="beginTime!=null and !&quot;&quot;.equals(beginTime.trim())">
 				and s.create_time <![CDATA[>=]]> #{beginTime}
 			</if>
 			<if test="endTime!=null and !&quot;&quot;.equals(endTime.trim())">
 				and s.create_time <![CDATA[<=]]> #{endTime}
 			</if>
 		</where>
  </select> 
 
</mapper>