<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dgut.mapper.TPrescriptionMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dgut.pojo.TPrescription" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prescription_id" property="prescriptionId" jdbcType="VARCHAR" />
    <result column="drug_data" property="drugData" jdbcType="VARCHAR" />
    <result column="patient_id" property="patientId" jdbcType="VARCHAR" />
    <result column="doctor_id" property="doctorId" jdbcType="VARCHAR" />
    <result column="is_deal" property="isDeal" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <association property="patient" column="patient_id" resultMap="cn.edu.dgut.mapper.TPatientMapper.BaseResultMap" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, prescription_id, drug_data, patient_id, doctor_id, is_deal, created, updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.dgut.pojo.TPrescriptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_prescription
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_prescription
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.dgut.pojo.TPrescriptionExample" >
    delete from t_prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.dgut.pojo.TPrescription" >
    insert into t_prescription (id, prescription_id, drug_data, 
      patient_id, doctor_id, is_deal, 
      created, updated)
    values (#{id,jdbcType=INTEGER}, #{prescriptionId,jdbcType=VARCHAR}, #{drugData,jdbcType=VARCHAR}, 
      #{patientId,jdbcType=VARCHAR}, #{doctorId,jdbcType=VARCHAR}, #{isDeal,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dgut.pojo.TPrescription" >
    insert into t_prescription
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prescriptionId != null" >
        prescription_id,
      </if>
      <if test="drugData != null" >
        drug_data,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="isDeal != null" >
        is_deal,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prescriptionId != null" >
        #{prescriptionId,jdbcType=VARCHAR},
      </if>
      <if test="drugData != null" >
        #{drugData,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="isDeal != null" >
        #{isDeal,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.dgut.pojo.TPrescriptionExample" resultType="java.lang.Integer" >
    select count(*) from t_prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_prescription
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prescriptionId != null" >
        prescription_id = #{record.prescriptionId,jdbcType=VARCHAR},
      </if>
      <if test="record.drugData != null" >
        drug_data = #{record.drugData,jdbcType=VARCHAR},
      </if>
      <if test="record.patientId != null" >
        patient_id = #{record.patientId,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorId != null" >
        doctor_id = #{record.doctorId,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeal != null" >
        is_deal = #{record.isDeal,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_prescription
    set id = #{record.id,jdbcType=INTEGER},
      prescription_id = #{record.prescriptionId,jdbcType=VARCHAR},
      drug_data = #{record.drugData,jdbcType=VARCHAR},
      patient_id = #{record.patientId,jdbcType=VARCHAR},
      doctor_id = #{record.doctorId,jdbcType=VARCHAR},
      is_deal = #{record.isDeal,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dgut.pojo.TPrescription" >
    update t_prescription
    <set >
      <if test="prescriptionId != null" >
        prescription_id = #{prescriptionId,jdbcType=VARCHAR},
      </if>
      <if test="drugData != null" >
        drug_data = #{drugData,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="isDeal != null" >
        is_deal = #{isDeal,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 <update id="updateByPrimaryKey" parameterType="cn.edu.dgut.pojo.TPrescription" >
    update t_prescription
    set prescription_id = #{prescriptionId,jdbcType=VARCHAR},
      drug_data = #{drugData,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP},
      patient_id = #{patientId,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countByCondition" parameterType="java.util.Map"
		resultType="int">
		select count(*) from t_prescription pr,t_patient p
		<where>
			<if test="name!=null and !&quot;&quot;.equals(name.trim())">
				and p.name = #{name}
			</if>
			<if test="prescriptionId!=null and !&quot;&quot;.equals(prescriptionId.trim())">
				and pr.prescription_id like '%' #{prescriptionId} '%'
			</if>
			<if test="patientId!=null and !&quot;&quot;.equals(patientId.trim())">
				and pr.patient_id like '%' #{patientId} '%'
			</if>
			and pr.patient_id = p.patient_id
		</where>
	</select>
	<select id="pageByCondition" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select * from t_prescription pr,t_patient p
		<where>
			<if test="name!=null and !&quot;&quot;.equals(name.trim())">
				and p.name = #{name}
			</if>
			<if test="prescriptionId!=null and !&quot;&quot;.equals(prescriptionId.trim())">
				and pr.prescription_id like '%' #{prescriptionId} '%'
			</if>
			<if test="patientId!=null and !&quot;&quot;.equals(patientId.trim())">
				and pr.patient_id like '%' #{patientId} '%'
			</if>
			and pr.patient_id = p.patient_id
		</where>

		order by pr.prescription_id limit #{pageIndex} ,#{pageSize}
	</select>
	<select id="selectById" resultMap="BaseResultMap">
		select * from t_prescription pr,t_patient p
				where pr.id = #{id}
				and pr.patient_id = p.patient_id
	</select>
	
	<!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="list">
		delete from t_prescription where id in
		<foreach collection="list" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
    </delete>
  
  
</mapper>